/* app css stylesheet */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


.kanji {
    font-size: 1.8em;
}

.save-list {
    padding-top: 15px;
}

.save-list.save-list-items {
    margin-bottom: 10px;
}

.btn-new-list {
    float: right;
}

.input-new-list {
    margin-top:5px;
    width: 75%;
    vertical-align: middle;
}