<!doctype html>
<html lang="en" ng-app="kanjiApp">
<head>
    <meta charset="utf-8">
    <title>Kanji Search</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="css/app.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/search.js"></script>
    <script src="js/kanjiDictionary.js"></script>
    <!--<script src="js/filters.js"></script>-->
</head>
<body ng-controller="KanjiCtrl">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query" ng-model-options="{ debounce: 250 }" ng-disabled="searchDisabled">

            <table class="kanji table table-hover">
                <thead>
                <h3 >Saved ({{saved.length}})</h3>
                </thead>
                <tr ng-repeat="e in saved"
                    ng-click="saved.splice(saved.indexOf(e), 1)">
                    <td>{{ e }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3"  ng-show="query && kanjiResults.length">
            <table class="kanji table table-hover">
                <thead>
                    <h3 >Radical matches ({{kanjiResults.length}})</h3>
                </thead>
                <tr ng-repeat="kanji in (kanjiResults = findKanji(query))"
                    ng-click="query = saved.push(kanji)">
                    <td>{{ kanji }}</td>
                </tr>
            </table>
        </div>
        <!--
        <div class="col-md-3"  ng-show="query && wordResults.length">
            <table class="kanji table table-hover">
            <thead>
                <h3>Word matches ({{query}} -
                    {{filteredWords.length}})</h3>
            </thead>
                <tr ng-repeat="word in (wordResults = findWords(query))"
                    ng-click="saved.push(word)">
                    <td>{{ word }}</td>
                </tr>
            </table>
        </div>
        -->
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>
        This site    uses the
        <a href="http://www.csse.monash.edu.au/~jwb/kradinf.html">RADKFILE/KRADFILE</a> dictionary files.
        These files are the property of the
        <a href="http://www.edrdg.org/"> Electronic Dictionary
            Research and Development Group</a>, and are used in
        conformance with the Group's
        <a href="http://www.edrdg.org/edrdg/licence.html">licence</a>.
        </p>
    </div>
</footer>
</body>
</html>
